# Dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# Environment variables
.env
.env.*
!.env.example
backend/.env

# IDE and editor files
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local development
.vercel
.next
out
yarn-debug.log*
yarn-error.log*

# frontend specific
frontend/build
frontend/node_modules

# backend specific
backend/node_modules
.env
